{% extends 'base.html' %}
  {% block content %}

    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}

<h1>DB Utility Page</h1>
<br/>

<br/>

<form method="POST", enctype="multipart/form-data">

    <input type="file" name="JobListFile"/>
    <input name='dbupdate' type="submit"/><br/>


<br/>
<br/>
<br/>
<button type="submit" name="dbfix" value="value"> Fix DB Data Null Numeric Records </button>

</form>

<hr>
<h2 style="font-family: 'Times New Roman', Times, serif; font-size: large;">Update Equipment Categories:</h2>
<form method="POST", enctype="multipart/form-data">

  <input type="file" name="EqCatFile" style="font-family: 'Times New Roman', Times, serif;"/><br/>
  <input name='eq_cat_update' type="submit" style="font-family: 'Times New Roman', Times, serif;"/><br/>
<br/>
{{check}} <br/>

<h3>LenExt: {{LenExtg}}</h3><br/>
<h3>LenNew: {{LenFile}}</h3><br/>
<h3>LenCom: {{LenCom}}</h3><br/>
<h3>LenAdd: {{LenAdd}}</h3><br/>





</form>
<hr>
<h2 style="font-family: 'Times New Roman', Times, serif; font-size: large;">Import Equipment Usage:</h2>
<form method="POST", enctype="multipart/form-data">

  <input type="file" name="EqUsageFile" style="font-family: 'Times New Roman', Times, serif;"/><br/>
  <input name='eq_usage_import' type="submit" style="font-family: 'Times New Roman', Times, serif;"/><br/>
<br/>
<hr>
  {% for row in df_display %}
      {{row}}
  {% endfor %}

<hr>
<h3>Extg Columns: {{columns_01}}</h3><br/>
<h3>Import Columns: {{columns_02}}</h3><br/>
<h3>LenExt: {{LenExt}}</h3><br/>
<h3>LenNew: {{LenNew}}</h3><br/>
<h3>LenComb: {{LenComb}}</h3><br/>
<h3>LenAdd: {{LenAdd}}</h3><br/>
<br/>

</form>





{% endblock %}