{% extends 'base.html' %}

{% block content %}
<div>
    <h1>DASHBOARD</h1>
    
    </br></br>
    <body>
        <a href="{{url_for('jobs.jobs_main')}}">Jobs</a><br/>
        <a href="{{url_for('auth.add_user')}}">Add User Form</a><br/>
        <a href="{{url_for('auth.login')}}">Login Page</a><br/>
        <a href="{{url_for('auth.logout')}}">Log Out</a><br/>
        <a href="{{url_for('equip.equip')}}">Equipment</a><br/>
   
<br/>
<br/>





 





</body>
</div>
{% endblock %}